#services{
	height: auto;
	padding-bottom: 5em;
}


/* Css Carrossel*/
.carro{
	height: 100%;
	width: 100%;


}
/*Css Formatação trasseira de sombra dos serviços*/

/* Css Equipe */

